<%= form_with(model: @task, local: true) do |form| %>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= t("errors.template.header", model: Task.model_name.human, count: @task.errors.count) %></h2>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="end_date">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>
  <div class="status">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.to_a, {} %>
  </div>
  <div class="status">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a, {} %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
